node_modules
dist
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
scripts/github-repo-env.local
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
logs
*.log
npm-debug.log*
pnpm-debug.log*
.vscode
.idea